@charset "UTF-8";
@import './variables';
// ---------- bootstrap override ------------
// ------------------------------------------
@import '~bootstrap/scss/bootstrap';
@import './common.global';
html {
    font-size: $font-size-root;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    letter-spacing: 0.045rem;
    font-family: 'Lora', serif;
}

*:focus {
    outline: none !important;
}

a {
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}

hr {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

img {
    max-width: 100%;
}

code {
    font-size: 80%;
    background: $md-deep-orange-50;
    color: $md-brown-800;
}

button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-sans-serif;
}

.btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.05);
    &:focus {
        box-shadow: none;
    }
}

.dropdown > .dropdown-menu {
    transition: 0.2s ease-in-out;
    transform: scale(0.8);
    transform-origin: 100% 0;
    display: block;
    visibility: hidden;
    opacity: 0;
}

.dropdown.show > .dropdown-menu {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    padding: 7px $dropdown-item-padding-x;
    a {
        color: $body-color;
    }
}
